.canvasPreview{
    width: 300px;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-top: 5px solid white;
    border-left: 5px solid rgb(179, 179, 179);
    border-right: 8px solid rgb(94, 94, 94);
    border-bottom: 11px solid rgb(7, 7, 7);
}
.homePageWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 66px;
    flex-wrap: wrap;
}

.homePixels{

transition: all 0.05s linear;
width: 5px;
height: 5px;
}

/* .homePixelsFadeIn{ */
    /* bottom: 0; */
    /* width: 10px; */
    /* height: 10px; */
/* } */

.byName, .homeTitle{
    color: white;
    text-shadow: 5px 5px 0 black;
}
.byName{
    margin-bottom: 10px;
    font-size: 12px;
}
.homeTitle{
    margin-bottom: 7px;
    font-size: 20px;
}

.artwork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px
}
