.colorsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 70, 167);
    padding: 5px;
    border-top: solid 3px rgb(184, 184, 184);
    align-self: flex-end;

}

.sliderSelectedColorContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    border-top: 3px solid white;
    border-left: 3px solid rgb(196, 196, 196);
    border-right: 3px solid rgb(97, 97, 97);
    border-bottom: 3px solid rgb(0, 0, 0);
    /* box-shadow: 3px 3px 10px black; */
    width: 470px;
    height: 105px;
    padding: 10px;
    background-color: rgb(41, 41, 41);
}
.color-columnsTop,.color-columnsBottom{
    display: flex;
}

.color-column{
    display: flex;
    flex-direction: column;
}
.color{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.color:hover{
    border: solid 1px white;
    box-shadow: 0 0 3px black inset;
}



.slidersContainer{
    display: flex;
    flex-direction: column;
    border-top: 5px solid rgb(41, 41, 41);
    background-size: 15%;
    margin-right: 10px;
}

.slidersAndSelectedColor{
    display: flex;
}

.leftMarker{
    width: 0px;
    height: 100%;
    /* background-color: red; */
}
.sliderAndInput{
    width: 325px;
    display: flex;
}
.sliderInput{
    width: 40px;
    height: 13px;
    font-size: 15px;
    margin-left: 5px;
    font-family: 'Turret Road',  Verdana, Geneva, Tahoma, sans-serif;
}

.slider{
    width: 270px;
    height: 20px;
    /* border-top: 3px solid black; */
    border-bottom: 5px solid rgb(41, 41, 41);
    position: relative;
    /* background-color: rgba(74, 119, 74, 0.418); */
}
.theColorContainer{
    width: 100px;
    height: 100px;
    /* border: solid 1px white; */
    position: relative;
}

.theColor{
    width: 100px;
    height: 100px;
    position: absolute;
    /* border: solid 1px rgb(68, 212, 24); */
    z-index: 10;

}
.theColorBackImg{
    width: 100px;
    height: 100px;
    /* border: solid 1px rgba(219, 45, 45, 0.425); */
    position: absolute;
    z-index: 0;
    background-size: contain;
}

.knob{
    height: 20px;
    width: 15px;
    /* background-color: blueviolet; */
    cursor:move;
    position: absolute;
    border: solid 1px grey;
    box-sizing: border-box;
    box-shadow: 0 0 3px black inset;
    border-radius: 3px;
}
.knob:active{
    cursor: grabbing;
}

.Red{
    background-color: rgb(255, 0, 0);
}
.Green{
    background-color: rgb(0, 255, 0);
}
.Blue{
    background-color: rgb(0, 0, 255);
}
.Alpha{
    background-size: 4%;
    background-attachment: fixed;
    background-repeat: repeat;
}
/* .knob.Alpha{
    backg
} */

.colorScheme{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 100px;
    border-top: 3px solid white;
    border-left: 3px solid rgb(196, 196, 196);
    border-right: 3px solid rgb(97, 97, 97);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.coloreSchemeColor{
    /* width: 70px;
    height: 50px; */
    border-top: 2px solid white;
    border-left: 2px solid rgb(196, 196, 196);
    border-right: 2px solid rgb(97, 97, 97);
    border-bottom: 2px solid rgb(0, 0, 0);
    /* margin-left: 8px;
    margin-right: 8px; */
    flex-basis: 10%;
    box-sizing: border-box;
    height: 50%;
}
.coloreSchemeColor:hover{
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 6px black inset;
}


.schemeSelector{
    width: 250px;
    height: 100%;
    background-color: rgb(124, 124, 124);
    overflow: auto;
    border-top: 2px solid white;
    border-left: 2px solid rgb(196, 196, 196);
    border-right: 2px solid rgb(97, 97, 97);
    border-bottom: 2px solid rgb(0, 0, 0);
}
.selectItem{
    padding: 5px;
    cursor: pointer;
}
.selectItem:hover, .selectItemActive{
    background-color: rgb(0, 0, 0);
    color: white;
}

.showHideColors{
    background-color: rgb(124, 124, 124);
    border-top: 2px solid white;
    border-left: 2px solid rgb(196, 196, 196);
    border-right: 2px solid rgb(97, 97, 97);
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}
.showHideColors:hover{
    background-color: rgb(165, 165, 165);
}

.showHideColors:active{
    background-color: rgb(63, 63, 63);
    border-bottom: 2px solid white;
    border-right: 2px solid rgb(196, 196, 196);
    border-left: 2px solid rgb(97, 97, 97);
    border-top: 2px solid rgb(0, 0, 0);
}
