.msRow{
    display: flex;
}

.msSquare{
    box-sizing: border-box;
    background-color: rgb(0, 0, 255);
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-top: 3px solid rgba(226, 226, 226, 0.4);
    border-left: 3px solid rgba(153, 153, 153, 0.4);
    border-right: 3px solid rgba(100, 100, 100, 0.4);
    border-bottom: 3px solid rgba(48, 48, 48, 0.4);
    font-family: Helvetica, Arial, sans-serif;
}

/* .msSquare:hover{
    box-shadow: 0 0 3px black inset;
} */

.msHidden{
    opacity: 0;
}
.msSquareValue{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* transition: all 0.5s linear; */
}

.lvlSelect,.startGame,.newGame{
    color: #000000;
    background-color: #FF6666;
    border-bottom: 3px solid rgb(59, 40, 228);
    border-right: 3px solid rgb(48, 29, 155);
    border-left: 3px solid rgb(13, 15, 87);
    border-top: 3px solid rgb(0, 0, 0);
    /* width: 50px; */
    height: 50px;
    cursor: pointer;
}
.startGame{
    background-color: #6666FF;
}
.newGame{
    background-color: white;
}
.newGame:hover{
    background-color: rgb(170, 170, 170);
}

.lvlSelect:hover,.startGame:hover{
    filter: brightness(1.4);
}

.lvlSelectActive{
    color: #FF6666;
    background-color: #990000;
    border-top: 3px solid rgb(59, 40, 228);
    border-left: 3px solid rgb(48, 29, 155);
    border-right: 3px solid rgb(13, 15, 87);
    border-bottom: 3px solid rgb(0, 0, 0);
    /* width: 50px; */
    height: 50px;
    cursor: pointer;
}
.levelSelect{
    display: flex;
    height: 50px;
    color: white;
    align-items: center;
}

.msEmptySquare{
    color: rgba(0, 0, 0, 0);
    background-color: rgb(18, 19, 78);
    border-bottom: 1px solid rgb(59, 40, 228);
    border-right: 1px solid rgb(48, 29, 155);
    border-left: 1px solid rgb(13, 15, 87);
    border-top: 1px solid rgb(0, 0, 0);
    /* transition: all 0.4s linear; */
}

.bombed{
    /* color: rgba(0, 0, 0, 0); */
    box-sizing: border-box;
    background-color: rgb(19, 2, 119);
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-bottom: 1px solid rgb(59, 40, 228);
    border-right: 1px solid rgb(48, 29, 155);
    border-left: 1px solid rgb(13, 15, 87);
    border-top: 1px solid rgb(0, 0, 0);
    /* transition: all 0.4s linear; */
}


.bomb{
    color: lime;
    opacity: 0.7;
}

.clockwise{
    animation:clockwise 14s linear infinite;
}

.msFlag{
    position: absolute;
    pointer-events: none;
    width: 20px;
}
.mineCount{
    width: 60px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
.mineCountImg{
    width: 30px;
    margin-right: 10px;
}

.kaboom{
    position: absolute;
    /* top: -65px; */
    z-index: 955;
    pointer-events: none;
}

#noContext{
    position: relative;
    z-index: 0;
    /* transition: all 0.1s linear; */
}

.changeColor{
    animation-name: colorChange;
    animation-duration: 77s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}


.white{
    background-color: white;
    box-shadow: 0 0 25px white;
    filter: blur(1px);
    z-index: 999;
}
.whiteOuter{
    box-shadow: 0 0 45px white;
    filter: blur(1px);
    z-index: 999;
}

.stats{
    display: flex;
    justify-content: space-between;
    color: #999900;
    /* margin: 0 50px; */
    /* width: 900px; */
    background-color: black;
    padding: 10px;
}
.statNums{
    color: white;
}
.hint{
    color: white;
    text-shadow: 0 0 5px white;
    filter: brightness(2);
}

.bombFlash{
    filter: saturate(0) brightness(30) drop-shadow(0 0 20px #FFFFFF);
    width: 90px;
    z-index: 999;
}
.holeSized{
    width: 30px;
    height: 30px;
}
.gameWrapper{
    transition: all 4s ease-in-out;
}
.flash{
    filter: brightness(1.3) contrast(1.3);
}
.endGame{
    filter: brightness(0.6) saturate(0);
}

.instructions{
    width: 800px;
    height: 600px;
    background-color: rgb(49, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 10px;
    line-height: 25px;

}

.screenshot{
    width: 213px;
    height: 216px;
}

.gameTitle{
    font-size: 35px;
}


.instructionsTitle{
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid white;
}

.warning{
    font-size: 20px;
}

@keyframes colorChange {
    0%   {filter: hue-rotate(0deg);}
    100%   {filter: hue-rotate(360deg);}
  }

  @keyframes clockwise { 100% {
    transform:rotate(360deg);
}}
