.msRow{
    display: flex;
}

.msSquare{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: grey;
    border-top: 2px solid rgb(226, 226, 226);
    border-left: 2px solid rgb(153, 153, 153);
    border-right: 2px solid rgb(100, 100, 100);
    border-bottom: 2px solid rgb(48, 48, 48);
    cursor: pointer;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msSquare:hover{
    box-shadow: 0 0 3px black inset;
}

.msHidden{
    opacity: 0.1;
}
.msSquareValue{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.msEmptySquare{
    color: rgba(0, 0, 0, 0);
    background-color: rgb(82, 82, 82);
    border-bottom: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(153, 153, 153);
    border-left: 1px solid rgb(100, 100, 100);
    border-top: 1px solid rgb(48, 48, 48);
}
.red{
    color: lime;
    opacity: 0.1;
}
